# Terraria server
WORLD_DIR=./world
WORLD_FILENAME=your_world.wld
TERRARIA_PORT=7777
CONTAINER_NAME=terraria

# TShock REST API
TSHOCK_HOST=terraria
TSHOCK_PORT=7878
TSHOCK_TOKEN=changeme

# Web panel
WEB_PORT=4823
